@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --navbar-height: 64px;

  --background: #f8f5f2;
  --foreground: #0c0a09;
  --card: #ffffff;
  --card-foreground: #0c0a09;
  --popover: #ffffff;
  --popover-foreground: #0c0a09;
  --primary: #f97316;
  --primary-foreground: #fafaf9;
  --secondary: #f5a029;
  --secondary-foreground: #fafaf9;
  --muted: #ebe6e0;
  --muted-foreground: #574942;
  --accent: #e76e50;
  --accent-foreground: #fafaf9;
  --destructive: #ef4444;
  --destructive-foreground: #fafaf9;
  --border: #e7e5e4;
  --input: #e7e5e4;
  --ring: #f97316;
  --radius: 0.5rem;
}

.dark {
  --background: #0c0a09;
  --foreground: #fafaf9;
  --card: #0c0a09;
  --card-foreground: #fafaf9;
  --popover: #0c0a09;
  --popover-foreground: #fafaf9;
  --primary: #ea580c;
  --primary-foreground: #fafaf9;
  --secondary: #f5a029;
  --secondary-foreground: #fafaf9;
  --muted: #292524;
  --muted-foreground: #a8a29e;
  --accent: #e76e50;
  --accent-foreground: #fafaf9;
  --destructive: #dc2626;
  --destructive-foreground: #fafaf9;
  --border: #292524;
  --input: #292424;
  --ring: #ea580c;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.animate-gradient {
  background-size: 200% 200%;
  animation: gradient 15s ease infinite;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  overflow: hidden;
}

.app-container {
  height: 100dvh;
}

.outer-top > *,
.outer-bottom > * {
  max-width: 1500px;
  margin: auto;
}

.outer-bottom {
  height: calc(100dvh - var(--navbar-height));
  overflow-y: auto;
}

.page-container {
  min-height: 100%;
}

input {
  outline: none;
}
